*{
  box-sizing: border-box;
  margin: 5px;
  padding:5px;
}
body {
  background-color: grey;
  background-image: url('ocean.jpeg');
}
h1{
  color: cadetblue;
}
.a{
  background-color: seagreen;
  margin: 200px;
}
div.a {
  border-style: dotted;
  border-color: blueviolet;
}
h1{
  border-bottom: 6px solid red;
  background-color: lightgrey;
}